/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

html {
    background-image:url(http://dl.garenanow.com/lol/loltw/web/news/20140905_ExploringRuneterra/Pic_14099014015409635999d8d.jpg);
    background-repeat: repeat-y;
    background-size: cover;        
}

#menu{
  position:absolute;
  background-color: rgba(50,50,50,0.6);
  width:20%;
  max-height: 95%;
  overflow: auto;
}
#menu input {
  width: 85%;
  margin-left:7%;
}
#menu ol {
 font-size: 18px;
font-weight: bolder;
}
#o{
  position:absolute;
  left:22%;
  background-color:rgba(250,250,250,0.6) ;
  width:75%; 
  max-height: 95%;
 overflow: auto;
  z-index:1;
}
#photo{
  border-radius:1%;
  width:100%;
}
#picture{
  margin-top:60px;
  margin-left:17%;
  width:70%;
 
  
}
#nav noPrint{
font-size: 18px;
}
nav  {
  position:fixed;
  top: 10px;
  right: 0px;
  z-index:2;
}
.print{
  width:50px;

  z-index:20;}
.ho{
  text-align:center;
  letter-spacing:5px;
}
.one{
  margin-left:4%;
  width:70px;
  height:70px;
}
@media all { 
	.page-break	{ display: none; }
}
@media print {
      .noPrint {  
        display:none;
      }
}
@page { size: A4 }
li:hover {
  color: rgba(200,200,255,1);
}
