<!DOCTYPE html>

<meta name="robots" content="noindex">
<html ng-app = "lolApp" ng-controller = "myCtrl">
<head>
  <meta charset="utf-8">
  <title>胖子與瘦子LOL攻略</title>
 

 

  <link href="./stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="./stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
<style id="jsbin-css">


</style>
</head>

<body>
  <nav>
        <img class = "print" src = "https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10712961_733459460071971_5855446396591155799_n.jpg?oh=c4b478f9f91aa2091afbba24fbd981f5&oe=552708FB&__gda__=1432924365_c3faa7899867d46eee48f1860caf2195" alt = "圖" title = "按我" />    
         <button class = "noPrint" onclick = "window.print()">列印</button>
      </nav>
    <div id = "o" ng-hide = "hero">
    
        <img id = "picture" src ="http://lol.garena.tw/images/learn/lore/Institute_of_War.jpg" alt="封面圖">
            
        <h2 class="ho">甚麼是英雄聯盟？</h2>

    <p>英雄聯盟(英語：League of Legends，簡稱「LOL」) ,是由Riot Games 所製作的「DotA」類型遊戲, 玩家扮演召喚師召喚並控制英雄,並被各自分到兩組隊伍。
    每一組由五名召喚師組成,兩組隊伍從地圖相反方向的主堡內開始,「破壞敵方的主堡」或「使敵方投降」以取得勝利。要破壞主堡,隊伍必須破壞一系列防禦塔,而防禦塔通常被放置在可以抵達敵方水晶主堡的3條主要路線上，每個建築物（包括防禦塔）在其外側建築物被破壞前會處於無敵（不能被攻擊）狀態,直到外側防禦塔遭到破壞,以此方式持續推進,獲取勝利。</p>
      
    <h2 class="ho">英雄</h2>

          <p>每個玩家將在遊戲中控制一名英雄為本次遊戲所控制角色,而根據角色的不同,將會獲得一組與其他英雄不同的技能,活用這些技能是獲得勝利最重要的一部份。</p>
    <h2 class ="ho">專業術語</h2>

    <p>top= 上路，地圖最左邊和最上面那條路mid(middle)= 中路，中間那條直線的道路bot (bottom)= 下路，地圖最右邊和最下面那條路lane= 路，同路夥伴可以叫做lanemateAD= 物理攻擊輸出AP= 魔法攻擊輸出ADC= 物理遠程攻擊輸出CS=所擊殺的小兵AS=攻擊速度AOE=範圍傷害AFK= 掛機(泛指不再電腦前或忙其他事)BRB= 馬上回來SUP= 輔助，通常與AD同路FALL=  失誤GG= GoodGame的意思，通常在遊戲時出現
    
          <h2 class="ho">英雄技能以及召喚師技能</h2>
    每位英雄都有獨特的一組技能組,每一組技能組將會四個技能,普通技能的原始熱鍵分別是Q W E ,而大招的技能熱鍵為R,除此之外每位玩家能設定兩個『召喚師技能』,如:治癒、重擊、點燃、虛弱、傳送等十三個技能,將會因為等級而逐漸開放。

    <h2 class = "ho"><a name ="story">故事</h2>

          <p>直到二十年前，符文大地一直都處於各種災難與戰爭中。這片大陸的人民自遠古以來就習慣結群而鬥，用最原始的方法來解決彼此的爭執：戰爭。而無論何時，戰爭中最常被使用的工具依舊是魔法。軍隊們用法術與符文武裝自己，英雄們鍛造出大部分魔法物品用以帶領軍隊作戰或進行支援。而瓦羅然大陸上實際的政治領導勢力——召喚師，則經常瘋狂使用魔法能量攻擊敵人的部隊與支持者。他們擁有近乎無限的原始魔法能量，從未考慮過無止境的濫用魔法會帶給這片大陸什麼樣的災難。</p>

    <p>而在短短的200年內，魔法無止境的濫用與大戰，將符文大地的脆弱現狀暴露在所有瓦羅然居民眼前。即使人們嘗試聚集魔法能量來修復這個悲劇，最後兩次的符文之戰仍嚴重影響了瓦羅然大陸的地質環境與地貌，人們付出的種種努力絲毫不起任何作用。劇烈的地震和恐怖的魔法風暴讓整個瓦羅然為之顫抖，對人們來說這份恐懼甚至遠超過戰爭的可怖。終於，眾人意識到，未來任何的符文戰爭將會導致世界的破滅。</p>

    <p>針對整個世界實質上與政治上的不穩定情況，瓦羅然的大法師們作出了最直接的反應，其中包含了許多強大的召喚師。他們達成共識。同意讓所有的衝突與紛爭透過一個可控制並且系統化的方式來解決處裡。英雄聯盟就在這樣的前提下被創造了出來，其目的在於監督瓦羅然內的政治紛爭得以有序處裡。身處於戰爭學院裡的英雄們透過瓦羅然政治實體之授權，讓這個組織管理所有紛爭的結果。</p>



    <p>英雄聯盟決定，所有主要的政治爭論必須通過特別設立於瓦羅然各地的競技場來處理。擁有不同政見的召喚師們各自召喚屬於自己的英雄，同時英雄們率領著由初階召喚師所召喚出來沒有心智意識的軍隊進行戰鬥。他們將在競技場內對決，達成任務目標獲取勝利。其中最常見的勝利目標，為摧毀敵方的主塔。這些競技場我們稱之為正義之地。</p>

    <p>雖然主要的政治衝突已經通過英雄聯盟的機制進行處裡，但還有一些長久以來互相仇視的政治團體之間的糾葛尚未被完全消除。英雄聯盟因此制定了一個策略上的決定：在敵對的蒂瑪西亞城邦與諾克薩斯城邦之間建立戰爭學院，使得兩者幾乎停止了所有的直接戰鬥，只剩偶爾發生的零星武裝衝突。而好戰的諾克薩斯最高指揮部，則將目標轉移到近海地區的征服行動。就這樣，所有的政治勢力遵守英雄聯盟的管理與規範；畢竟沒有任何人會傻到與同時招惹這麼多的法師、召喚師和英雄。</p>

    <p>對於瓦羅然大陸來說，這些由英雄聯盟管理並且舉辦於正義之地的戰鬥，除了有極大的政治意義以外，也隱含了巨大的社會價值。聯盟通過魔法將戰場的影像和音訊在瓦羅然各區的魔法接收器上展示出來，而觀看正義之地的戰鬥儼然成為瓦羅然居民最熱衷的娛樂項目之一。</p>

    <p>英雄聯盟由著名的最高公正議會監管，議會則由三位強大的召喚師所掌控。除了新的最高議會成員海伍德‧瑞利威許之外，另外兩位召喚師則在英雄聯盟草創時期即存在於議會之內；自五年前最高議會成員雷金納‧阿什拉姆神秘失蹤後，瑞利威許議員接替了他的職位。最高公正議會不僅領導英雄聯盟，同時也擔任瓦羅然大陸內最高審判所的職責，裁決瓦羅然內各政治勢力間的衝突。</p>

    <p>英雄聯盟的組織架構著重在於協助旗下各組織完成他們各自的目標。每個城邦內有一位英雄聯盟特使，擔任被派駐於瓦羅然各城邦的代表，同時傳達聯盟的意志；審判委員則是被指派到各正義之地裁決比賽的仲裁人員；最高議會則是由高階召喚師組成的組織，主導競技結果確認後，政治紛爭的仲裁結論。</p>

      </div>
  

  <div id="o" ng-show ="hero">
    <img ng-src = "{{hero.img}}"/>
    路線：{{hero.sts}}
    <p>攻略：{{hero.text}}</p>
      

    
  </div>

  
  
  <div id = "menu">
   <img id = "photo" src = "https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10405488_856584607727429_804522056135724792_n.jpg?oh=2f63936ec428ee23c85a2cfcd9b26f9e&oe=54E8C210&__gda__=1424223953_e6fe5d6d0c40a803fb6ae40338ac5522" alt = "標誌"/>
    
    <input type  = "search" ng-model ="key" />
 <hr/>
    <ol>
      <li ng-click="hero ='' "><a>首頁<a><hr/></li>
      <li ng-click="hero ='' "><a href = "#story">故事</a><hr/></li>
      <li>人物簡介</li>
    </ol>
     
    <a ng-repeat = "h in heros | hasKey:key"
       ng-click = "$parent.hero = h">
      <img class = "one" ng-src = "{{h.img}}" alt = "{{h.name}}" />
     </a>


<script src="bower_components/angular/angular.min.js"></script>
 
    <script id="jsbin-javascript" src ="index.js">


</script>
</body>
</html>